input[type=button]
{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 3px;
    font-weight: bold;
}
input[type=button]:focus 
{
    background-color:lightskyblue;
    border-color: skyblue; 
}

input[type=button]:hover
{
    background-color: lightsteelblue;
}

button 
{
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border-radius: 3px;
    font-weight: bold;
}

button:hover
{
    background-color: lightsteelblue;
}

button:focus {
    background-color:lightskyblue;
    border-color: skyblue;
}

li
{
    margin: 5px;
    padding: auto;
    color: darkorchid;
}

ul 
{
    background-color:ghostwhite;
    margin: 5px;
    padding: auto;
}

a:link
{
    color:darkorchid;
}

a:visited 
{
    color: deeppink;
}

p{
    margin: 5px;
}